i {
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

i svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    vertical-align: middle;
}

.delete {
    opacity: 0;
}
