input {
    background-color: var(--bg-color-input);
    caret-color: #232b32;
    border: 1px solid var(--border-color);
    color: var(--primary-color);
    padding: 0.5rem;
    vertical-align: middle;
    transition: 0.3s;
    border-radius: 2px;
    font-size: 0.95rem;
    outline: none;

    &:hover {
        background-color: var(--bg-color-input-hover);
    }
    &:focus {
        border-color: var(--focus-color);
    }
}

input[type="color"] {
    width: 3.5rem;
    height: 1.5rem;
    padding: 0;
    border: none;
    border-color: transparent;
    cursor: pointer;
}
:-moz-color-swatch,
:-webkit-color-swatch {
    border-color: transparent;
}

input[type="file"] {
    display: none;
}
form > [type="submit"]:last-child {
    margin-left: 2rem;
    margin-top: 1rem;
    padding: .75rem 2rem;
}
.checkbox {
    width: 1.4rem;
    height: 1.4rem;
    box-shadow: inset 0 0 0 1px var(--shadow-color);
    background-color: var(--bg-color-input);
    transition: background-color 0.15s;
    appearance: none;
    border-radius: 4px;

    &:checked {
        background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%208%208%22%20enable-background%3D%22new%200%200%208%208%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M6.4%2C1L5.7%2C1.7L2.9%2C4.5L2.1%2C3.7L1.4%2C3L0%2C4.4l0.7%2C0.7l1.5%2C1.5l0.7%2C0.7l0.7-0.7l3.5-3.5l0.7-0.7L6.4%2C1L6.4%2C1z%22%20%2F%3E%0A%3C%2Fsvg%3E");
        background-size: 60% 60%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--shadow-color, var(--bg-color-input-hover));
    }
}

::placeholder {
    color: var(--secondary-color);
}

.dark-mode input {
    caret-color: #fefefe;

    ::selection {
        background-color: var(--focus-color);
    }
}

.number-wrapper {
    display: flex;
    align-items: center;
}
.number-input-wrapper {
    border-radius: 2px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color-input);
    display: flex;

    input {
        appearance: textfield;
        border: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:hover .number-controls  {
        background-color: var(--bg-color-input-hover);
    }

    .number-controls {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 16px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    &:focus-within {
        border: 1px solid var(--focus-color);
    }

    button {
        padding: 0;
        font-size: 10px;
        background-color: inherit;
        color: var(--secondary-color);
    }

    .btn-plus:before {
        content: "\25B2";
    }
    .btn-minus:before {
        content: "\25BC";
    }
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}
