.jsonview {
    &-code {
        display: block;
        background-color: var(--shadow-color, inherit);
        color: #88c6be;
        white-space: nowrap;
        width: 600px;
        max-width: 100%;
        padding: 0.5rem 1rem;
    }

    &-str {
        color: #79b6f2;
    }
    &-num {
        color: #ffffc8;
    }
    &-bool {
        color: #c5a5c5;
    }
    &-null {
        color: #c5a5c5;
    }
    &-prop {
        color: #fac863;
    }

    &-line {
        padding-right: 1rem;
        color: #b2b2b2;
    }
}
