fieldset {
  border: 1px solid var(--fieldset-color);
}
legend {
  width: 100%;
}

#create-form {
  padding: 2rem 4rem 3rem;
}
#create-form.is-create {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-column-gap: 32px;
  max-width: 1024px;
}
@media screen and (max-width: 1024px) {
  #create-form {
    display: block !important;
    padding: 1rem 0.75rem;
  }
  #new-datapack {
    border-top: 2px solid var(--fieldset-color);
  }
}
.models-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}
.model-type {
  text-align: center;
  margin-bottom: 8px;
}
.model-type a {
  display: block;
  background-color: var(--bg-color-input);
  padding: 8px;
  border-radius: 8px;
  width: 240px;
}
.form-control input {
  width: 100%;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.form-group {
  margin-top: 1rem;
}
legend {
  display: inline;
  font-weight: 600;
  font-size: 1.1rem;
}
legend div {
  font-weight: normal;
  font-size: 1.05rem;
}
.flex {
  display: flex;
  align-items: center;
}
.full-width {
  width: 100%;
}

.inbl {
  display: inline-block;
  vertical-align: middle !important;
  min-width: 100px;
}
