.jsonview-code {
  background-color: var(--shadow-color, inherit);
  line-height: 1.2;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 600px;
  max-width: 100%;
  font-family: monospace;
  padding: 1.5rem 1rem;
}

.label-dark {
  margin-right: 5px;
  color: #fac863;
}
.punctuation-dark {
  color: #b2b2b2;
}
.value-null-dark, .value-undefined-dark, .value-other-dark {
  color: #c5a5c5;
}
.value-string-dark {
  color: #79b6f2;
}
.value-number-dark {
  color: #ffffc8;
}
.value-boolean-dark {
  color: #c5a5c5;
}
