body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  overflow-y: scroll;
  color: var(--primary-color);
  transition: 0.3s;
}
#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  padding-top: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--secondary-color);
}
