.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.dmcheck {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  appearance: none;
  cursor: pointer;
  outline: none;
  padding: 0.3rem;
}

.dmcheck:checked + label {
  left: 30px;
}

.dmcheck:focus-visible {
  outline: solid 2px white;
}

.dmcheck + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background-color: #f6f6f6;
}

.dark-mode-toggle > button {
  background: none;
  border: none;
  cursor: pointer;
}
