.light-mode {
  --bg-color-section: #fefefe;
  --bg-color-nav: #bbe3ff;
  --bg-color-input: var(--bg-color-section);
  --bg-color-input-hover: #f4f9ff;
  --bg-color-btn: #e7e9ed;
  --bg-color-select-focus: #2684ff;
  --primary-color: #131618;
  --secondary-color: #6c757d;
  --focus-color: #2380b9;
  --shadow-color: #333;
  --border-color: #cccccc;
  --fieldset-color: #d3d7db;
  --select-label: #e6e6e6;
}
.dark-mode {
  --bg-color-section: #262c35;
  --bg-color-nav: #1b2938;
  --bg-color-input: #35404b;
  --bg-color-input-hover: #343e49;
  --bg-color-btn: #424242;
  --bg-color-select-focus: #1b3a5a;
  --primary-color: #dfdfdf;
  --secondary-color: #99a5b1;
  --focus-color: #19618f;
  --border-color: transparent;
  --fieldset-color: #596169;
  --select-label: var(--bg-color-section);
}
